PORT=8080
ADMIN_USERNAME=imanavv_25
ADMIN_PASSWORD=Manav@1234
DATA_FILE=./.backend/db.json
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority

