PORT=8080
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_secure_password
DATA_FILE=./.backend/db.json
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority

# Email Notifications (SMTP configuration for Gmail/etc.)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your_google_app_password
EMAIL_TO=your-email@gmail.com

