PORT=8080
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_secure_password
DATA_FILE=./.backend/db.json
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority

# Email Notifications (Resend API configuration)
RESEND_API_KEY=re_your_free_resend_api_key
EMAIL_TO=your-recipient-email@gmail.com

